/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-size: 18px;
   line-height: 1.4;
   font-family: Helvetica;
   background-image: url("http://ak1.picdn.net/shutterstock/videos/1488331/thumb/1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
 }

 .container {
   max-width: 960px;
   margin: 0 auto;
 }

 a:-webkit-any-link {
    text-decoration: none;
}

.error {
  color: rgb(255, 0, 0);
}

 /* Header Section */
 .header {
   display: flex;
   position: absolute;
   width: 960px;
   margin-top: 1rem;
   justify-content: space-between;
   background-color: rgba(0, 150, 150, 0.5);
   color: rgb(255, 255, 255);
   font-size: 1rem;
   z-index: 10;
 }

 .headerLogo {
   display: flex;
   align-items: center;
 }

 .headerLogo img {
   height: 1.5rem;
   padding-left: 2rem;
   padding-right: .5rem;
 }

 .headerMission {
   display: flex;
   padding: 1rem 2rem;
 }

 .headerPhrase {
   margin-right: 0.5rem;
 }

 .login {
   padding-left: 0.5rem;
   border-left: solid rgb(255, 255, 255);
 }

 a.login{
   color: rgb(255, 255, 255);
 }

 a.login:hover {
   color: rgb(0, 0, 255);
 }

 /* MAIN SECTION FOR ALL PAGES */
 .mainSection {
   display: flex;
   position: absolute;
   justify-content: space-around;
   margin-top: 5rem;
   margin-left: 25%;
   margin-right: 25%;
   width: 50%;
   padding: 10px;
   border: 3px solid rgb(0, 153, 0);
   background-color: rgba(255, 253, 210, 0.7)
 }

 /* WELCOME SCREEN */

 .welcome_form {
   display: inline-block;
   align-content: space-around;
   text-align: center;
 }

 .welcome_form h1 {
   display: block;
   font-size: 2rem;
   text-decoration: underline;
   font-weight: bold;
   text-shadow: 2px 2px 8px rgb(0, 150, 150);
 }

 .welcome_form h3 {
   display: block;
   margin-top: 0;
   font-size: 1rem;
   text-decoration: underline;
   font-weight: bold;
   text-shadow: 1px 1px 4px rgb(0, 150, 150);
 }

.btn {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  background-color: rgb(0, 150, 150);
  color: rgb(255, 255, 255);
}

.btn:hover {
  transition-duration: 1s;
  background-color: rgb(0, 153, 0);
}

.btn_delete {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  background-color: rgb(0, 150, 150);
  color: rgb(255, 255, 255);
}

.btn_delete:hover {
  transition-duration: 1s;
  background-color: rgb(255, 0, 0);
}

.mainSection_bottom {
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin-left: 26%;
  margin-right: 25%;
  width: 50%;
  margin-top: 30%;
}

.mainSection_bottom h1 {
  font-size: 1rem;
  text-shadow: 1px 1px 4px rgb(0, 150, 150);
  text-decoration: underline;
  font-weight: bold;
}

.mainSection_shout_out {
  padding: 10px;
  border: 3px solid rgb(0, 153, 0);
  background-color: rgba(255, 253, 210, 0.7);
  text-align: center;
}

.mainSection_shout_out h3{
  margin-top: 0.25rem;
  font-size: 0.90rem;
  text-shadow: 1px 1px 4px rgb(0, 150, 150);
}

.mainSection_shout_out h4 {
  font-size: 0.75rem;
  text-shadow: 1px 1px 4px rgb(0, 150, 150);
}

 /* USER SHOW */
 .user_show {
   display: inline;
   text-align: center;
   width: 100%;
   padding: 0px;
   margin: 0px;
 }

 .user_show h1 {
   display: block;
   font-size: 2rem;
   text-decoration: underline;
   font-weight: bold;
   text-shadow: 2px 2px 8px rgb(0, 150, 150);
 }

 .user_show h2 {
   font-size: 1.2rem;
   text-decoration: underline;
   font-weight: bold;
   text-shadow: 1px 1px 2px rgb(0, 150, 150);
 }

 .user_show_boxes {
   display: flex;
   justify-content: space-around;
   margin-top: 1rem;
 }

 .task_title{
   padding-top: .3rem;
   font-size: 0.75rem;
 }


 .task_detail {
   font-size: .75rem;
   margin-top: 0.25rem;
 }

 .user_options {
   display: flex;
   justify-content: center;
 }

 /* CATEGORIES */
 .category_breakdown {
   display: inline;
 }

 .category_selection {
   display: flex;
   justify-content: space-around;
 }

 .category_breakdown h1 {
   display: inline;
   font-size: 2rem;
   text-decoration: underline;
   font-weight: bold;
   text-shadow: 2px 2px 8px rgb(0, 150, 150);
 }

 .category_breakdown h3 {
   display: inline;
   font-size: 1.25rem;
   text-decoration: underline;
   font-weight: bold;
   text-shadow: 1px 1px 2px rgb(0, 150, 150)
 }

 .category_breakdown li {
   font-size: 0.75rem;
   margin: 0.5rem 1rem;
 }

 .specific_category_breakdown {
   display: inline-block;
 }

 .specific_category_tasks{
   display: flex;
   justify-content: center;
 }

 .specific_category_breakdown h1 {
   font-size: 1.5rem;
   text-decoration: underline;
   font-weight: bold;
   text-shadow: 2px 2px 8px rgb(0, 150, 150);
 }

 .specific_category_breakdown h3 {
   margin-top: 0.5rem;
   font-size: 1rem;
   text-decoration: underline;
   font-weight: bold;
   text-shadow: 1px 1px 2px rgb(0, 150, 150)
 }


 /* FOOTER */
 .footer {
   display: flex;
   position: absolute;
   padding: 0.5rem 0.5rem;
   flex-direction: row;
   justify-content: space-between;
   bottom: 5%;
   width: 50%;
   margin-left: 25%;
   margin-right: 25%;
   background-color: rgb(0, 150, 150);
   color: rgb(255, 255, 255);
   font-size: 0.75rem;
   align-items: center;
 }

 .socialMediaMobile {
   display: none;
 }

 .footer nav {
   display: flex;
 }

 .footer nav ul {
   display: flex;
   flex-direction: row;
 }

 .footer nav ul li:first-child {
   margin-right: 16px;
 }

/* new task */

.create_task_form {
  display: block;
}

.create_task_form h1{
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
  margin-bottom: 0;
  padding-bottom: 0;
}

.create_task_form h3 {
  padding-top: 0.5rem;
  display: inline;
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgb(0, 150, 150);
}

.check_boxes {
  padding-left: 0.25rem;
}


.task_header {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
}

.task_form {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
}

/* current task */

.task_view {
  display: flex;
}

.current_task_view h1 {
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
  margin-bottom: 0.2rem;
}
.current_task_view h3 {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
  display: inline;
}
.current_task_view h4 {
  font-size: 0.85rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
  display: inline;
}

.current_task_view h6 {
  font-size: 0.50rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(0, 150, 150);
  margin-bottom: 0.5rem;
}

/* edit task */

.edit_task_form {
  display: inline;
}

.edit_task_form h1 {
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
}


.form-group {
  font-weight: bold;
  margin-top: 0.5rem;
}

.label-checkbox {
  margin-top: 1rem;
}

/* New User Form */
.new_user_form h1 {
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
}

.new_user_form h3 {
  display: inline;
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgb(0, 150, 150);
}

.user-buttons {
  display: flex;
  margin: 0;
}

/* Edit User Form */
.edit_user_form h1 {
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
}

.edit_user_form h3 {
  display: inline;
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgb(0, 150, 150);
}

/* alalytics page */

.analytic-data {
  display: inline;
}


.analytic-data h1 {
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
}

.analytic-data h2 {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(0, 150, 150);
}

.analytic-data h3 {
  display: inline-block;
  margin-top: .3rem;
  font-size: .8rem;
  font-weight: bold;
}
