<!DOCTYPE html>
<html>
  <head>
    <title>Cheetah Run</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- HEADER SECTION - CONSTANT -->
    <header class="container">
      <div class="header">
        <div class="headerLogo">
          <img src="http://www.freepngimg.com/download/cheetah/3-2-cheetah-free-png-image.png" />
          <h5>Cheetah Run</h5>
        </div>
        <div class="headerMission">
          <h5>Everything's possible in the blink of an eye</h5>
        </div>
      </div>
    </header>

    <div class="mainSection">
      <%= yield %>
    </div>
  </body>
</html>
