<div class="mainSection">
  <div class="user_task_breakdown">
    <h1>Your Pending Tasks:</h1>
      <% @pending_task[0..15].each do |completed_task| %>
        <li class="task_title"><%= link_to truncate(completed_task.title, :length => 30), task_path(completed_task) %> | Created on: <%= completed_task.created_at.strftime("%B %-d, %Y") %>
          <% if completed_task.claim_check %>
            | Claimed by: <%= completed_task.name_check%>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
