<div class="current_task_view">
  <h1><%= @task.title %></h1><br>
  <h3>Description: <%= @task.description %></h3>

  <% if @task.cheetah %>
    <%= button_to "Submit Task for approval?", approval_task_path %>
  <% else %>
    <%= button_to "Would you like to claim this task?", claim_task_path %>
  <% end %>


</div>
